<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="yeah" value="oh yeah"/>
    <input type="file" name="uploads" accept="image/png, image/jpeg, image/bmp, image/jpg, image/tif"
           value="choose a image"/>
    <input type="submit" value="upload it"/>
</form>
<p>[[${filePath}]]</p>
<ul>
    <li th:each="file : ${files}">
        <img th:src="${file}"/>
    </li>
</ul>
<!--/*<h1 th:text="${oneOfFiles}"></h1>*/-->

<div style="border: red 2px dashed">
    <form id="uploadByAjaxForm">
        <input type="text" name="yeah" id="yeah" value="oh yeah"/>
        <input type="file" name="uploads" id="fileUploader"
               accept="image/png, image/jpeg, image/bmp, image/jpg, image/tif"
               value="choose a image"/>
    </form>
    <button onclick="uploadByAjax()">Upload</button>
    <img id="ajaxShowImg" alt="">
</div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script>
    function uploadByAjax() {
        var formData = new FormData($('#uploadByAjaxForm')[0]);
        formData.append("yeah", $('#yeah').val());
        let ajaxSavesTheDay =
            $.ajax({
                type: "post",
                url: "/uploadByAjax",
                dataType: "text",
                data: formData,
                async: true,
                contentType: false,
                processData: false,
                cache: false,
                timeout: 5000,
                success: function (data) {
                    if (data) {
                        var jsonObj = $.parseJSON(data);
                        $('#ajaxShowImg').attr('src', jsonObj.url);
                        alert(jsonObj.yeah);
                    }
                },
                error: function () {
                    alert("Sorry, data transmit failed!Please check your network!");
                }
            });
    }

    $('#fileUploader').change(function () {
        if (checkAvatarValidity(this))
            //preview image
            $("#ajaxShowImg").attr("src", URL.createObjectURL($(this)[0].files[0]));
        else
            $(this).val('');
    })

    // check avatar validity before uploading it, pass input file object to this function
    function checkAvatarValidity(avatar) {
        var ext = avatar.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'bmp':
            case 'png':
            case 'tif':
                break;
            default:
                alert('Upload image with jpg,jpeg,bmp,png,tif format only!');
                this.value = '';
                return false;
        }
        if (avatar.files[0].size / 1024.0 > 1 * 1024) {
            alert('Image size is not allowed to exceed 1Mb!');
            return false;
        }
        return true;
    }
</script>
</body>
</html>